@import '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 3rem 0;

  &__current-page {
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  &__button {
    cursor: pointer;
    font-size: $font-size-body;
    background-color: $color-primary;
    color: $color-secondary;
    border: none;
    padding: 0.4rem 0.9rem;
    border: 1px solid $color-red;

    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
