/* Fonts */

$font-stack-primary: 'IBM Plex Sans', sans-serif;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;

$font-size-body: 1rem;
$font-size-small: 0.75rem;

/* Colors */

$color-primary: #38413e;
$color-secondary: #febf00;

$color-black: #191826;
$color-white: #fcfaf9;
$color-red: #823038;
