@import '../../styles/variables.scss';

.fires-filter {
  &__form {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    select {
      margin: 0 1rem 0 0;
      padding: 0.3rem 0.5rem;
      border-radius: 2px;
      border: 1px solid $color-primary;
      background-color: $color-white;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}
