@import '../../styles/variables.scss';

.header {
  background-color: $color-primary;
  color: $color-secondary;
  //sadow text
  text-shadow: 0 0 2px $color-red;

  padding: 1rem;

  &__title {
    font-size: $font-size-h1;
    font-weight: bold;
  }
}
