@import '../../styles/variables.scss';

.header {
  background-color: $color-primary;
  color: $color-white;

  padding: 1rem;

  &__title {
    font-size: $font-size-h1;
    font-weight: bold;
  }
}
